.lead {
  display: flex;
  flex-direction: column;
}
.lead__content-img {
  display: flex;
  flex-direction: column;
  margin-left: 148px;
  margin-right: 148px;
  color: white;
}
.lead__content-text {
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  margin-right: 280px;
  margin-bottom: 64px;
  padding: 0;
  color: white;
}
.lead__title {
  width: 720px;
  height: 200px;
  font-family: "Inter bold";
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 0;
}

.lead__text {
  width: 720px;
  height: 20px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 983px;
}
