@media (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
  .header {
    margin-left: 257px;
    margin-top: 30px;
    margin-right: 257px;
    width: 254px;
    height: 66px;
  }
  .content_text {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 90px;
    margin-bottom: 30px;
  }
  .content__title {
    width: 720px;
    height: 255px;
  }
  .content__text {
    width: 720px;
    height: 72px;
    margin-bottom: 30px;
  }
  .content_img {
    margin-left: 0;

    margin-top: 30px;
    margin-bottom: 90px;
  }
  .content__image {
    width: 768px;
    height: 480px;
  }

  .description {
    width: 720px;
    height: 573px;
    margin-left: 24px;
    margin-bottom: 128px;
  }
  .description__title {
    width: 707px;
    height: 147px;
    margin-right: 37px;
    padding-top: 0;
    font-size: 45px;
    line-height: 49px;
  }
  .description__text {
    width: 720px;
    height: 136px;
    margin-top: 50px;
  }
  .description__quote {
    width: 720px;
    height: 34px;
  }
  .description__text-text {
    width: 720px;
    height: 182px;
    margin-top: 32px;
  }
  .footer {
    margin-left: 287px;
    margin-top: 88px;
  }
  .photo-grid {
    margin-top: 64px;
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .photo-grid__item {
    width: 362px;
    height: 264px;
    overflow: hidden;
  }
  .location {
    margin-left: 24px;
    margin-right: 24px;
    width: 720px;
    height: auto;
  }
  .location__content {
    width: 340px;
    height: auto;
    column-gap: 28px;
  }

  .location__title {
    grid-column: 1;
    grid-row: 1;
    width: 340px;
    height: 46px;
  }
  .location__title_style {
    font-size: 42px;
    line-height: 46px;
  }

  .location__image {
  }

  .location__image_style {
    width: 340px;
    height: 340px;
  }
  .location__button {
    width: 289px;
    height: 48px;
  }

  .location__text {
    width: 352px;

    margin-top: 0;
  }
  .location__art {
    margin-top: 0;
    font-size: 12px;
    line-height: 14px;
  }
  .location__art-artistas {
    font-size: 18px;
    line-height: 22px;
  }
  .location__description {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 544px) {
  .header {
    width: 188px;
    height: 52px;
    margin-left: 66px;
    margin-right: 66px;
    margin-top: 20px;
  }
  .header__logo {
    width: 188px;
    height: 52px;
  }

  .content_text {
    width: 288px;
    height: 144px;
    margin-left: 16px;
    margin-top: 50px;
  }

  .content__title {
    width: 288px;
    height: 80px;
    font-size: 40px;
    line-height: 44px;
    margin: 0;
  }

  .content__text {
    width: 288px;
    height: 80px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0;
  }

  .content_img {
    margin-bottom: 0;
    margin-top: 40px;
  }
  .content__image {
    width: 320px;
    height: 200px;
  }
  .description {
    margin-top: 64px;
    width: 288px;
    height: 1033px;
  }
  .description__title {
    width: 288px;
    height: 175px;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
  }

  .description__text {
    width: 288px;
    height: 300px;
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
  }

  .description__quote {
    width: 288px;
    height: 34px;
    font-size: 24px;
    line-height: 34px;
    margin: 10px 0;
  }

  .description__text-text {
    width: 288px;
    height: 442px;
    font-size: 16px;
    line-height: 26px;
    margin: 32px 0;
  }
  .footer {
    width: 194px;
    height: 14px;
    margin-left: 63px;
    margin-top: 24px;
    margin-right: 24px;
  }
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 38px;
  }
  .photo-grid__item {
    width: 288px;
    height: 216px;
    overflow: hidden;
  }
  .location {
    margin-left: 0;
    margin-right: 0;
    width: 320px;
    height: auto;
  }

  .location__title {
    width: 288px;
    height: 35px;
  }
  .location__title_style {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
  .location__content {
    width: 320px;
    height: auto;
    grid-template-columns: 1fr;
    column-gap: 50px;
  }
  .location__art {
    margin-top: 0;
    font-size: 12px;
    line-height: 14px;
  }
  .location__art-artistas {
    font-size: 18px;
    line-height: 22px;
  }
  .location__image {
    grid-row: 3;
    margin-top: 30px;
  }
  .location__image_style {
    width: 320px;
    height: 320px;
  }
  .location__text {
    width: 288px;
    margin-top: 30px;
    grid-column: 1;
    grid-row: 2;
    order: 3;
    margin-left: 16px;
  }
  .location__description {
    grid-column: 1;
    grid-row: 4;
  }
  .location__description_style {
    margin-left: 16px;
    margin-top: 30px;
  }
  .location__button {
    width: 288px;
    height: 48px;

    order: 4;
  }

  .location__button_style {
    margin-left: 16px;
    margin-right: 16px;
  }
}
